.productSummary {
  color: whitesmoke;
  background-color: #055a7e;
  padding: 10px;
}
table,
td,
th {
  border-collapse: collapse;
  border-bottom: 1px solid rgb(190, 173, 173);
  width: 265px;
}
td {
  width: 81%;
  font-size: 21px;
}
